.info div{
    width: 800px;
    height: 800px;
    position: relative;
}

.info{
    width: 80%;
    height: 100%;
    float: left;
}

.info div span{
    display: block;
    float: left;
    height: 50%;
    position: absolute;
}

.info img{
    width: 100%;
    margin-top: 100px;
}