div,p,a,span{
	padding: 0;
	margin: 0;
}
body{
	padding: 0;
	margin: 0;
	height: 100%;
	position: fixed;
    width: 100%;
}

html{
	height: 100%;
}

ul,li,p{
	margin: 0;
	padding: 0;
	list-style: none;
}

.content{
	width: 100%;
	max-width: 1600px;
	margin: 0 auto;
	height: 100%;
	position: relative;
}

.nav{
	height: 8%;
	width: 100%;
}

.nav ul{
	width: 70%;
    height: 60px;
    float: right;
    margin-top: 20px;
    padding-right: 20px;
    text-align: right;
    display: inline-block;
}

.nav ul li{
	width: 200px;
    height: 100%;
    background-color: #999;
    line-height: 60px;
    text-align: center;
    font-size: 24px;
    margin-left: 20px;
    border: 1px solid #333;
    display: inline-block;
}

.nav ul li a{
    color: #fff;
}

.main{
	position: absolute;
    width: 100%;
    bottom: 10%;
    top: 10%;
}

.main .title{
	width: 200px;
    height: 100%;
    float: left;
}

.main .title h1{
	width: 90%;
	font-size: 80px;
	color: #999;
	float: left;
	text-align: center;
}

.main .title h1:nth-child(even){
	float: right;
}

.footer{
	width: 100%;
    /* height: 14%; */
    position: absolute;
    bottom: 20px;
}

.footer a{
	color: #fff;
}

.footer div{
	height: 60px;
	width: 200px;
	text-align: center;
	color: #fff;
	font-size: 24px;
	line-height: 60px;
	background-color: #999;
	float: left;
	margin: 0 20px;
	margin-top: 35px;
}

.footer div:last-child{
	float: right;
}