.info img{
	width: 400px;
    height: 500px;
	margin-bottom: 20px;
}

.info{
	width: 45%;
	float: left;
}

.info p{
	font-size: 30px;
    font-weight: 400;
}

.image{
    width: 29%;
    overflow: hidden;
    float: left;
    position: relative;
    height: 100%;
}

.image img{
	width: 100%;
}