.info {
    width: 80%;
    height: 100%;
    float: left;
}

.info p{
    width: 100%;
    font-size: 70px;
    font-weight: bold;
    text-align: right;
    margin: 40px 0; 
}

.info ul{
    width: 100%;
    float: left;
    display: flex;
    flex-direction: row;
    justify-content:center;
    margin-top: 10%;
}

.info ul li{
    float: left;
    flex: 1;
}

.info ul li img{
    display: block;
    width: 300px;
    height: 300px;
    margin: 0 auto;
    border-radius: 10px;
    overflow: hidden;
}